* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Utilities */

.bgLight {
  background-color: #eae3ff !important;
}

.bgDark {
  background-color: #dfd7fc !important;
}

.bgYellow {
  background-color: #f6c344 !important;
}

.bgblue {
  background-color: #29d2fb !important;
}

.bgPink {
  background-color: #f65282 !important;
}

.bgPurple {
  background-color: #885df1 !important;
}

.mainHeading {
  font-size: 38px; /*it can be from 32 - 40px*/
  font-weight: bold;
  color: #272044;
}

.sectionHeading {
  font-size: 28px; /*it can be from 24 - 28px*/
  font-weight: bold;
  color: #272044;
  text-transform: uppercase;
}

.subHeading {
  font-size: 20px; /*it can be from 18 - 22px*/
  font-weight: bold;
  color: #272044;
}

.storyHeading {
  font-size: 16px; /*it can be from 16 - 20px*/
  font-weight: bold;
  color: #272044;
  margin-top: 18px;
}

.landingText {
  font-size: 16px;
  color: #212529;
  font-weight: bold;
}

.bodyText {
  font-size: 15px; /*it can be from 14 - 16px*/
  color: #212529;
}

.smallText {
  font-size: 14px;
  color: #212529;
}

.widthSmall {
  max-width: 700px;
}

.readMoreBtnPink {
  background-color: #f65282;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s ease;
}

.readMoreBtnPink:hover {
  background-color: #f47fa2;
  color: #ffffff;
}

.readMoreBtn {
  background-color: #885df1;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s ease;
}
.readMoreBtn:hover {
  background-color: #6b3db1;
  color: #ffffff;
}

.cardHover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.moduleLink {
  color: #885df1;
  text-decoration: dotted;
  transition: all 0.3s ease;
}

.moduleLink:hover {
  color: #6b3db1;
  text-decoration: underline;
}

.pinkTopBorder {
  border-top: 7px solid #f65282;
}

.readMoreBtnBlue {
  background-color: #29d2fb;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s ease;
}
.readMoreBtnBlue:hover {
  background-color: #4ed0f7;
  color: #ffffff;
}

.blueTopBorder {
  border-top: 7px solid #29d2fb;
}

.purple {
  color: #885df1;
}

.readMoreBtnYellow {
  background-color: #f6c344;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s ease;
}
.readMoreBtnYellow:hover {
  background-color: #f8d366;
  color: #ffffff;
}

.yellowTopBorder {
  border-top: 7px solid #f6c344;
}

/* Navbar */
header .navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

header .navbar ul li a {
  color: #212529 !important;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  transition: all 0.5s ease;
}

header .navbar ul li a:hover {
  color: #885df1 !important;
  background-color: rgba(145, 115, 235, 0.2);
  border-radius: 15px;
}

/* Landing Page */
main #landingPage {
  background-image: url("../Images/Landing/Landing\ Page.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

main #landingPage .container-fluid {
  background-color: rgba(136, 93, 241, 0.2);
  backdrop-filter: blur(5px);
  height: 100vh;
}

main #landingPage .container-fluid .container {
  background-color: rgba(229, 226, 235, 0.4);
  backdrop-filter: blur(3px);
  border-top: 7px solid #885df1;
  margin-top: 70px;
}

/* Medium Devices */
/* @media (max-width: 992px) {
  main #landingPage .container-fluid .container {
    padding-top: 15px;
  }
} */

@media (max-width: 768px) {
  /* Small devices */
  main #landingPage .container-fluid .container {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  /* Extra small devices */
  main #landingPage .container-fluid .container {
    padding-top: 5px;
  }
}

main #landingPage .container-fluid .container a {
  font-size: 15px;
  background-color: #885df1;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s ease;
}

main #landingPage .container-fluid .container a:hover {
  background-color: #6b3db1;
  color: #ffffff;
}

/* Inspire & Learn */

#learn {
  background-image: url("../Images/Learn/Learn\ BG.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}

#learn .container-fluid {
  background-color: rgba(136, 93, 241, 0.3);
  backdrop-filter: blur(5px);
  height: 90vh;
}

#learn .container-fluid .container {
  background-color: rgba(229, 226, 235, 0.4);
  backdrop-filter: blur(3px);
  border-top: 7px solid #885df1;
  margin-top: 70px;
}

/* Footer */

footer .container .footer-links ul li i {
  padding-right: 2px;
  color: #885df1;
  font-size: 12px;
  line-height: 1;
}

footer .container .footer-links ul li a {
  color: #212529;
  transition: all 0.5s ease;
}

footer .container .footer-links ul li a:hover {
  color: #885df1;
}

/* Back to Top Button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 45px;
  height: 45px;
  background-color: #885df1;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  text-decoration: none;
  z-index: 9999;
}

.back-to-top:hover {
  background-color: #6b3db1;
}
